.container {
    width: min(100%, 1496px);
    margin: auto;
    background-color: #f9fafa;
    /* padding-inline: 47px; */
    /* border: 10px solid red; */
}

/* header  */

header {
    z-index: 100;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #eef1f1;
    padding-inline: 47px;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.TBC_icon {
    display: none;
    color: #555f62;

}

#Layer_1 {
    color: #555f62;
    cursor: pointer;
}

.header_ul {
    width: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_li {
    color: #222;
    cursor: pointer;
}

.arrow_div {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.header_right_div {
    display: flex;
    align-items: center;
    column-gap: 22px;
}

.fa-magnifying-glass {
    font-size: 24px;
    color: #555f62;
    cursor: pointer;
}

.fa-magnifying-glass:hover {
    color: #007aff;
    transition: .5s linear;

}

.fa-arrow-right,
.fa-arrow-left {
    font-size: 16px;
    color: #182cc0;
    cursor: pointer;
}

.fa-arrow-right:hover {
    color: #007aff;
    transition: .5s linear;
}

.fa-arrow-left:hover {
    color: #007aff;
    transition: .5s linear;
}

.arrow_text {
    color: #182cc0;
    font-weight: 700;
    cursor: pointer;
}

.arrow_text:hover {
    color: #007aff;
    transition: .5s linear;
}

.language_div {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    cursor: pointer;
    border-radius: 4px;
    transition: .25s ease-in-out;

}

.language_div:hover {
    background-color: #f9fafa;
}

.fa-globe {
    font-size: 14px;
    color: #555f62;
}

.language_text {
    font-size: 20px;
    font-weight: 700;
    color: #555f62;
}

.fa-xmark,
.fa-bars {
    display: none;
    color: #555f62;
    font-size: 20px;
}

.text_after_header {
    margin-inline: 76px;
    padding-top: 100px;
    padding-bottom: 24px;
    font-size: 16px;
}

/* section_1 */

.section_1 {
    margin-inline: 76px;
    margin-top: 32px;
    height: 376px;
    background-image: url(../images/ze324k50.yq4Become-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
}

.section_1_div {
    max-width: 540px;
    padding: 76px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}

.section_1_div_title {
    font-size: 24px;
    font-weight: 900;
    color: #fff;
}

.section_1_div_text {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    line-height: 3rem;
}

.section_1_div_button {
    width: 150px;
    padding: 16px;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(15deg, #001682, #3240e5);
    cursor: pointer;
}

.white {
    margin-right: 8px;
    color: #fff;
}

.text_after_section_1 {
    margin-inline: 76px;
    padding: 120px 0;
    color: #141719;
    font-size: 36px;
    line-height: 4rem;
    font-weight: 700;
}

/* section_2  */


.section_2_main_div {
    padding-inline: 76px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: flex-start;
}

.section_2_title {
    margin: 0 0 32px 76px;
    font-size: 24px;
    color: #141719;
    font-weight: 700;
}

.images_div {
    display: flex;
    gap: 32px;
}

.left_images_div {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.left_image_1,
.left_image_2 {

    position: relative;
}

.left_image_1_div,
.left_image_2_div,
.image_3_div {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: absolute;
    bottom: 42px;
    left: 42px;
}

.image_1,
.image_2 {
    width: 100%;
    height: 246px;
    object-fit: cover;
    border-radius: 8px;
    transition: .25s linear;
    cursor: pointer;
}

.image_1:hover {
    scale: 1.01;
}

.image_2:hover {
    scale: 1.01;
}

.image_3:hover {
    scale: 1.01;
}

.right_image {
    position: relative;
}

.image_3 {
    width: 100%;
    height: 528px;
    object-fit: cover;
    border-radius: 8px;
    transition: .25s linear;
    cursor: pointer;
}

.section_2_images_title {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

.section_2_arrow {
    font-size: 16px;
    color: #fff
}

.section_2_images_button {
    border: none;
    color: #fff;
    background-color: transparent;
    font-size: 14px;
    font-weight: 700;
    margin-left: 2px;
    text-decoration: underline;
}

/* section_3  */

.section_3 {
    margin: 64px 0;
    display: flex;
    justify-content: center;
}

.section_3_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.section_3_div {
    padding: 40px 48px;
    width: 350px;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 8px;
}

.number_span {
    font-size: 44px;
    font-weight: 700;
    color: #141719;
    text-wrap: nowrap;
}

.text_span {
    font-size: 16px;
    font-weight: 700;
    color: #555F62;
}

/* section_4  */

.section_4 {
    margin: 32px 76px;
}

.heading {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
}

.section_4_title {
    font-size: 24px;
    color: #141719;
    font-weight: 700;
}

.section_4_arrow {
    display: flex;
    align-items: center;
}

.section_4_heading_span {
    margin-left: 4px;
    font-size: 14px;
    font-weight: 700;
    color: #182CC0;
}

.section_4_images {
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    transition: 0.25s linear;
}


.text_wrapper {
    display: flex;
    gap: 20px;
}

.card0 {
    border: 1px solid #e1e4e5;
    border-radius: 8px;
    transition: 0.25s linear;
}

.card0:hover {
    box-shadow: 1px 10px 10px rgb(223, 221, 221);
    background-color: #fff;
}

.card_text {
    margin: 24px 12px;
    font-size: 12px;
    color: #6F787B;
    font-weight: 700;
}

.card_title {
    margin-bottom: 24px;
    margin-inline: 12px;
    font-size: 16px;
    font-weight: 700;
    color: #141719;
}

.scroll-container {
    display: flex;
    align-items: center;
    position: relative;
}

.card_wrapper {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding: 10px 0;
}

.card_wrapper::-webkit-scrollbar {
    height: 3px;
}

.card_wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.card_wrapper::-webkit-scrollbar-thumb {
    background: #182CC0;
    border-radius: 8px;
}

.scroll-button {
    background-color: transparent;
    border: none;
    padding: 2px;
    cursor: pointer;
    z-index: 1;
}

.left-arrow {
    position: absolute;
    bottom: -10px;
    right: 30px;
}

.right-arrow {
    position: absolute;
    bottom: -10px;
    right: 0px;
}

.scroll-button:focus {
    outline: none;
}

/* section_5  */

.section_5_title_active {
    display: none;
    font-size: 24px;
    font-weight: 700;
    color: #141719;
}

.section_5_div_active {
    display: none;
}

.section_5 {
    padding: 42px 76px 0 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    z-index: 80;
}

.section_5_div {
    display: flex;
    flex-direction: column;
    gap: 52px;
}

.section_5_title {
    font-size: 24px;
    font-weight: 700;
    color: #141719;
}

.section_5_text {
    font-size: 16px;
    color: #555F62;
}

.section_5_images {
    height: 380px;
}

.apps {
    display: flex;
    gap: 8px;
}

.app_button {
    padding: 16px 32px;
    border: 1px solid #e1e4e5;
    border-radius: 4px;
    background-color: #FFF;
    cursor: pointer;
    transition: 0.25s linear;
}

.app_button:hover {
    background-color: #f9fafa;

}

/* section_6  */

.section_6 {
    padding: 64px 76px;
}

.section_6_title {
    font-size: 24px;
    font-weight: 700;
    color: #141719;
}

.section_6_wrapper {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_6_card_wrapper {
    display: flex;
    gap: 40px;
    overflow-x: scroll;

}

.section_6_card_wrapper::-webkit-scrollbar {
    height: 3px;
}

.section_6_card_wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.section_6_card_wrapper::-webkit-scrollbar-thumb {
    background: #182CC0;
    border-radius: 8px;
}

.card {
    padding-bottom: 26px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid #e1e4e5;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.25s linear;
}

.card:hover {
    box-shadow: 1px 10px 10px rgb(223, 221, 221);
    background-color: #fff;
}

.section_6_image {
    width: 420px;
    height: 256px;
    border-radius: 8px 8px 0 0;
}

.section_6_card_title {
    padding-inline: 26px;
    font-size: 16px;
    font-weight: 700;
    color: #141719;
}

.section_6_card_text {
    padding-inline: 26px;
    font-size: 14px;
    color: #555F62;
    line-height: 1.5rem;
}

strong {
    color: black;
    font-weight: bold;
}