@media(max-width:765px) {

    /* section_2  */

    .section_2_main_div {
        overflow-x: scroll;
    }


    .left_images_div {
        display: flex;
        flex-direction: row;
    }

    .image_1,
    .image_2,
    .image_3 {
        width: 280px;
        height: 232px;
    }

    /* section_3  */

    .section_3 {
        padding-inline: 76px;
    }

    .section_3_wrapper {
        width: 100%;
        flex-direction: column;
    }

    .section_3_div {
        width: inherit;
        gap: 32px;
    }

    /* section_5  */

    .section_5 {
        padding-inline: 76px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    .section_5_text {
        margin-bottom: 32px;
    }

    .section_5_title_active {
        display: block;
    }

    .section_5_div {
        display: none;
    }

    .section_5_div_active {
        display: block;
    }

    /* footer  */

    #Layer {
        display: none;
    }

    .footer_tbc_icon {
        display: block;
    }

    .footer_nav {
        display: none;
    }

    .fa-angle-down {
        display: block;
    }

    .footer_middle_main_div {
        padding: 0;
        flex-direction: column;
    }

    .active {
        min-width: 100%;
    }

    .title_div {
        padding: 45px 76px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer_title {
        font-size: 24px;
    }

    .active1 {
        border-top: 2px solid #eef1f1;
        border-bottom: 2px solid #eef1f1;
    }

    .footer_adresses {
        padding: 32px 76px;
    }

    .footer_bottom {
        flex-direction: column-reverse;
        align-items: start;
        gap: 20px;
        background-color: #eef1f1;
    }

    .footer_bottom_text {
        font-size: 14px;
    }

}


@media(max-width:600px) {

    /* section_1  */

    .text_after_header {
        margin-inline: 16px;
    }

    .section_1 {
        margin-inline: 16px;

    }

    .section_1_div {
        padding-inline: 32px;
    }

    .section_1_div_title {
        font-size: 16px;
    }

    .section_1_div_text {
        line-height: normal;
    }

    .text_after_section_1 {
        margin-inline: 16px;
    }

    /* section_2  */

    .section_2_main_div {
        padding-inline: 16px;
    }


    .section_2_title {
        margin-inline: 16px;
    }

    /* section_3  */

    .section_3 {
        padding-inline: 16px;
    }


    /* section_4  */

    .section_4 {
        margin-inline: 16px;
    }

    /* section_5  */

    .section_5 {
        padding-inline: 16px;
    }

    /* section_6  */

    .section_6 {
        padding-inline: 16px;
    }

    .section_6_image {
        width: 290px;
        height: 220px;
    }

    /* section_7  */

    .section_7 {
        margin-inline: 16px;
    }

    .section_7_div {
        padding: 76px 50px;
    }

    /* section_8  */

    .section_8 {
        padding: 64px 16px;
    }

    /* footer  */

    .footer_up_div,
    .title_div,
    .footer_adresses,
    .footer_bottom {
        padding-inline: 16px;
    }


}


@media(max-width:535px) {

    /* header  */

    #Layer_1 {
        display: none;
    }

    .TBC_icon {
        display: block;
    }

    /* footer  */

    .footer_right_bottom {
        flex-direction: column;
    }
}