@media(max-width:765px) {

    /* section_2  */

    .section_2_main_div {
        overflow-x: scroll;
    }


    .left_images_div {
        display: flex;
        flex-direction: row;
    }

    .image_1,
    .image_2,
    .image_3 {
        width: 280px;
        height: 232px;
    }

    /* section_3  */

    .section_3_wrapper {
        width: 100%;
        flex-direction: column;
    }

    .section_3_div {
        width: inherit;
        gap: 32px;
    }

    /* section_5  */

    .section_5 {
        padding-inline: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    .section_5_text {
        margin-bottom: 32px;
    }

    .section_5_title_active {
        display: block;
    }

    .section_5_div {
        display: none;
    }

    .section_5_div_active {
        display: block;
    }

}


@media(max-width:600px) {

    /* section_1  */

    .text_after_header {
        margin-inline: 16px;
    }

    .section_1 {
        margin-inline: 16px;

    }

    .section_1_div {
        padding-inline: 32px;
    }

    .section_1_div_title {
        font-size: 16px;
    }

    .section_1_div_text {
        line-height: normal;
    }

    .text_after_section_1 {
        margin-inline: 16px;
    }

    /* section_2  */

    .section_2 {
        margin-inline: 16px;
    }

    /* section_4  */

    .section_4 {
        margin-inline: 16px;
    }

}


@media(max-width:535px) {

    /* header  */

    #Layer_1 {
        display: none;
    }

    .TBC_icon {
        display: block;
    }
}